// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail img {
  width: 60px;
  height: 60px;
}

.name {
  font-size: 15px;
  color: teal;
}

.character {
  border: 3px solid teal;
  display: inline-block;
  float: left;
  width: 150px;
  height: 150px;
  text-align: center;
}
