// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0 auto;
  background-color: #87eda7;
  color: #42356b;
  font-size: 20px;
  text-align: center;
}

.players {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.clearfix {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

.thumbnail img {
  width: 150px;
  height: 150px;
}

.name {
  font-size: 15px;
  color: teal;
}

.character {
  border: 3px solid #42356b;
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
  text-align: center;
}

.character_play {
  border: 3px solid #42356b;
  width: 200px;
  height: 200px;
  text-align: center;
  display: inline-block;
}

.text {
  display: inline-block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.win {
  display: inline-block;
  float: none;
  clear: both;
  width: 100%;
}

a {
  color: #110733;
}

a:hover {
  color: #b6d3bf;
}
